/*Navbar*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navbar-list li {
  margin: 0 15px;
}

.navbar-list a {
  color: white; 
  text-decoration: none; 
  font-size: 18px;
}

.navbar-list a:hover {
  color: orange; 
}

.center-text {
  text-align: center;
  font-size: 60px;
}

body {
  background-image: url('https://airsoft.cz/pictures/fotoclanky/alfred-umarex-ar16/10.jpg');
  background-size: cover; 
  background-position: center; 
  background-attachment: fixed; 
  font-family: Arial, sans-serif;
  color: #fff; 
  text-align: center; 
  padding: 50px;
}

section {
  background-image: url('https://airsoft.cz/pictures/fotoclanky/alfred-umarex-ar16/10.jpg');
  background-size: cover;
  background-position: center;
  height: 400px; 
  padding: 20px;
}