/*Navbar*/

.navbar {
    background-color: #1347d6; 
  }
  
  .navbar {
    background-color: #1347d6; 
  }
  
  .navbar-nav .nav-link {
    color: #ffffff;
  }
  
  .navbar-nav .nav-link:hover {
    color: #f1f1f1;
  }
  
  .form-inline .btn {
    background-color: #007bff;
    color: white;
  }
  
  .form-inline .btn:hover {
    background-color: #0056b3;
  }
  
  .navbar .dropdown-menu {
    background-color: #333;
  }
  
  .navbar .dropdown-item {
    color: #ffffff;
  }
  
  .navbar-toggler-icon {
    background-color: #000000;
  }
  
  .navbar-brand {
    font-size: 2rem;
    color: #000000;
  }
  
  .navbar-brand:hover {
    color: #ffffff;
  }