/*Navbar*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar {
  background-color: #333;
  padding: 10px;
}

.navbar-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.navbar-list li {
  margin: 0 15px;
}

.navbar-list a {
  color: white; 
  text-decoration: none; 
  font-size: 18px;
}

.navbar-list a:hover {
  color: orange; 
}
 